.Divider {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: #0044ff;
    margin: 1rem 0;
}

.Divider::before,
.Divider::after {
    content: "";
    height: 3px;
    display: block;
    background-color: currentColor;
}